#breakfast{
background-image: url("../images/breakfast.jpg");
background-size: cover;
background-repeat: no repeat;
padding: 80px;
text-align: center;
margin-top: 0px;
color:white;
font-size: 30px;
}

#lunch{
background-image: url("../images/lunch.jpg");
background-size: cover;
background-repeat: no repeat;
padding: 80px;
text-align: center;
margin-top: 0px;
color:white;
font-size: 30px;
}

#dinner{
background-image: url("../images/dinner.jpg");
background-size: cover;
background-repeat: no repeat;
padding: 80px;
text-align: center;
margin-top: 0px;
color:white;
font-size: 30px;
}

#orange{
  background-color: #F15A29
}
