body {
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif !important;
  text-align: center;


}



#jumbotron-logo {
  width: 400px;
  height: auto;
}

#orange{
  background:orange;

}
.panel-footer{
  background-color: #F15A29;
  height: 300px;
margin-bottom: 50px;
}
.orange{
  background-color: #F15A29;
  color: white;
  height:130px;
  text-align: center;
  line-height: 150px
}
