body {
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif !important;

}
#jumbotron


#jumbotron-logo {
  width: 400px;
  height: auto;
}

#categories{

}
#orange{
  background:orange;

}
.image2{
  float:left;
}
